* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 1420px;
}

header {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
header .pre-header {
  background: rgb(3, 2, 13);
  background: linear-gradient(90deg, rgb(3, 2, 13) 6%, rgb(73, 73, 75) 37%, rgb(66, 71, 71) 99%);
  height: 30px;
  color: wheat;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 10px 15px 10px 15px;
}
header .pre-header select {
  background-color: #837e7e;
  overflow: hidden;
  border: none;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
  border-radius: 15px;
  height: 25px;
  font-size: 1.1rem;
  font-weight: bold;
}
header .pre-header .title {
  color: #837e7e;
  font-size: 2rem;
  padding-top: 5px;
}
header nav {
  position: fixed;
  z-index: 2;
  background-color: black;
  width: 100%;
}
@media screen and (max-width: 575px) {
  header nav {
    display: none;
  }
}
header nav ul {
  list-style: none;
  padding-top: 10px;
}
header nav ul li {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s linear;
  margin: 0px 0 10px 30px;
  position: relative;
  top: -10px;
}
header nav ul li:hover {
  transform: translateY(-5px);
}
header nav ul li:first-child {
  top: 3px;
}
header nav ul li:first-child a:hover:after {
  display: none;
}
header nav ul li a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
header nav ul li a:hover {
  color: #837e7e;
}
header nav ul li a:hover:after {
  display: block;
}
header nav ul li a:after {
  content: "";
  display: none;
  background-color: #837e7e;
  height: 3px;
  width: 100%;
  position: absolute;
}

section.hero {
  display: grid;
}
section.hero h1 {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 20px;
  margin: 40px 0 50px 0;
}
@media screen and (max-width: 575px) {
  section.hero h1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px 0 25px 0;
  }
}
section.hero h1 span {
  font-weight: 600;
  background-image: -webkit-linear-gradient(145deg, #f53939, #35fdb2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}
section.hero video {
  width: 100%;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(8deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
section.featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
  background: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  padding-bottom: 100px;
  z-index: 1;
}
@media screen and (max-width: 575px) {
  section.featured {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
section.featured:hover .featured-item {
  filter: blur(20px);
  transform: scale(0.8);
  opacity: 0.5;
  cursor: pointer;
}
section.featured .featured-item {
  color: rgb(255, 255, 255);
  display: flex;
  margin-top: -100px;
  padding: 2px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s linear;
}
@media screen and (max-width: 575px) {
  section.featured .featured-item {
    width: 100%;
    margin-top: 0;
    padding: 5px;
  }
}
section.featured .featured-item:hover {
  filter: blur(0px);
  transform: scale(1.001);
  opacity: 1;
  padding: 0;
}
section.featured .featured-item img {
  max-width: 40%;
}
@media screen and (max-width: 575px) {
  section.featured .featured-item img {
    max-width: 50%;
    padding: 5px;
    margin-bottom: 0;
  }
}
section.featured .featured-item p {
  max-width: 400px;
  padding: 5px 0 20px 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: gray;
  opacity: 80%;
  font-weight: bolder;
}
@media screen and (max-width: 575px) {
  section.featured .featured-item p {
    font-size: 1rem;
  }
}
section.featured .featured-item h2 {
  font-size: 2rem;
  padding: 0 0 10px 0;
  color: gray;
}
@media screen and (max-width: 575px) {
  section.featured .featured-item h2 {
    font-size: 1.5rem;
  }
}
section.featured .featured-item button {
  background-color: orangered;
  outline: none;
  border: none;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.4s ease-in-out;
}
section.featured .featured-item button a {
  text-decoration: none;
  color: #373737;
  font-weight: bolder;
  padding: 5px;
}
section.featured .featured-item button:hover {
  transform: translateX(3px);
}
@media screen and (max-width: 575px) {
  section.featured .featured-item button {
    font-size: 0.9rem;
  }
}

section.products {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.products .container {
  padding: 20px;
  margin-top: 100px;
}
section.products h2 {
  max-width: 700px;
  text-align: center;
  margin: auto;
  color: white;
  margin-bottom: 80px;
  font-size: 2rem;
  font-weight: lighter;
}
section.products .box-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}
section.products .box-holder .background-one {
  background-image: url(/img/keyboard-4759500_1920.jpg);
  filter: blur(0);
}
section.products .box-holder .background-two {
  background-image: url(/img/razer-4819693_1920.jpg);
}
section.products .box-holder .background-three {
  background-image: url(/img/mouse-670002_1920.jpg);
}
section.products .box-holder .background-four {
  background-image: url(/img/technology-3428923_1920.jpg);
}
section.products .box-holder .product-item {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
}
section.products .box-holder .product-item:hover .overlay {
  transition: all 0.3s linear;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
section.products .box-holder .product-item:hover .overlay button {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
section.products .box-holder .product-item:hover .overlay button:hover {
  transform: scale(1.1);
}
section.products .box-holder .product-item:hover .overlay i {
  opacity: 1;
}
section.products .box-holder .product-item .product-info {
  display: block;
  padding: 15px;
  text-align: left;
  height: 600px;
}
section.products .box-holder .product-item .product-info h3 {
  font-size: 2rem;
  color: rgb(189, 186, 186);
}
section.products .box-holder .product-item .product-info p {
  color: rgb(189, 186, 186);
  font-size: 1.2rem;
  font-weight: bolder;
}
section.products .box-holder .overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
section.products .box-holder .overlay button {
  color: white;
  width: 120px;
  height: 50px;
  background-color: orangered;
  border-radius: 10px;
  opacity: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
section.products .box-holder .overlay button a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(48, 46, 46);
  font-weight: bold;
}
section.products .box-holder .overlay i {
  color: orangered;
  font-size: 4rem;
  opacity: 0;
}