section.featured {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1rem;
  background: linear-gradient(to top, #1b1b1b 0%, #373737 100%);
  padding-bottom: 100px;
  z-index: 1;

  &:hover .featured-item {
    filter: blur(20px);
    transform: scale(0.8);
    opacity: 0.5;
    cursor: pointer;
  }
  .featured-item {
    color: rgb(255, 255, 255);
    display: flex;
    margin-top: -100px;
    padding: 2px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s linear;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:hover {
      filter: blur(0px);
      transform: scale(1.001);
      opacity: 1;
      padding: 0;
    }
    img {
      max-width: 40%;
    }

    P {
      max-width: 400px;
      padding: 5px 0 20px 0;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: gray;
      opacity: 80%;
      font-weight: bolder;
    }
    h2 {
      font-size: 2rem;
      padding: 0 0 10px 0;
      color: gray;
    }

    button {
      background-color: orangered;
      outline: none;
      border: none;
      width: 30%;
      height: 50px;
      border-radius: 10px;
      font-size: 1.2rem;
      transition: all 0.4s ease-in-out;

      a {
        text-decoration: none;
        color: #373737;
        font-weight: bolder;

        padding: 5px;
      }

      &:hover {
        transform: translateX(3px);
      }
    }
  }
}
