section.products {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    padding: 20px;
    margin-top: 100px;
  }
  h2 {
    max-width: 700px;
    text-align: center;
    margin: auto;
    color: white;
    margin-bottom: 80px;
    font-size: 2rem;
    font-weight: lighter;
  }
  .box-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;

    .background-one {
      background-image: url(/img/keyboard-4759500_1920.jpg);
      filter: blur(0);
    }
    .background-two {
      background-image: url(/img/razer-4819693_1920.jpg);
    }
    .background-three {
      background-image: url(/img/mouse-670002_1920.jpg);
    }
    .background-four {
      background-image: url(/img/technology-3428923_1920.jpg);
    }

    .product-item {
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;

      &:hover {
        .overlay {
          transition: all 0.3s linear;
          display: block;
          opacity: 0.8;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          cursor: pointer;
          button {
            &:hover {
              transition: all 0.4s ease-in-out;
              transform: scale(1.1);
            }
          }
        }
      }
      .product-info {
        display: block;
        padding: 15px;
        text-align: left;
        height: 600px;

        h3 {
          font-size: 2rem;
          color: rgb(189, 186, 186);
        }
        p {
          color: rgb(189, 186, 186);
          font-size: 1.2rem;
          font-weight: bolder;
        }
      }
    }

    .overlay {
      display: none;
      opacity: 0;
      background-color: black;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      button {
        color: white;
        width: 120px;
        height: 50px;
        background-color: orangered;
        border-radius: 10px;

        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
          rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
          rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        a {
          text-decoration: none;
          font-size: 1rem;
          color: rgb(48, 46, 46);
          font-weight: bold;
        }
      }
      i {
        color: orangered;
        font-size: 4rem;
      }
    }
  }
}
