section.products {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    padding: 20px;
    margin-top: 100px;
  }
  h2 {
    max-width: 700px;
    text-align: center;
    margin: auto;
    color: white;
    margin-bottom: 80px;
    font-size: 2rem;
    font-weight: lighter;
  }
  .box-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;

    .background-one {
      background-image: url(/img/keyboard-4759500_1920.jpg);
    }
    .background-two {
      background-image: url(/img/razer-4819693_1920.jpg);
    }
    .background-three {
      background-image: url(/img/mouse-670002_1920.jpg);
    }
    .background-four {
      background-image: url(/img/technology-3428923_1920.jpg);
    }
    .product-item {
      max-width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;

      &:hover {
        transition: all 0.3s linear;
        .overlay {
          display: block;
          opacity: 0.7;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }
      }
      .product-info {
        display: block;
        padding: 15px;
        text-align: left;
        height: 600px;

        h3 {
          font-size: 2rem;
          color: rgb(189, 186, 186);
        }
        p {
          color: rgb(189, 186, 186);
          font-size: 1.2rem;
          font-weight: bolder;
        }
      }
    }

    .overlay {
      display: none;
      opacity: 0;
      background-color: black;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      button {
        color: white;

        width: 50px;
      }
    }
  }
}
