header {
  background-color: black;
  font-family: $roboto-font;

  .pre-header {
    background: rgb(3, 2, 13);
    background: linear-gradient(
      90deg,
      rgba(3, 2, 13, 1) 6%,
      rgba(73, 73, 75, 1) 37%,
      rgba(66, 71, 71, 1) 99%
    );
    height: 30px;
    color: wheat;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 15px 10px 15px;
    select {
      background-color: #837e7e;
      overflow: hidden;
      border: none;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      outline: none;
      border-radius: 15px;
      height: 25px;
      font-size: 1.1rem;
      font-weight: bold;
    }
    .title {
      color: #837e7e;
      font-size: 2rem;
      padding-top: 5px;
    }
  }
  nav {
    position: fixed;
    z-index: 2;
    background-color: black;
    width: 100%;
    @media screen and (max-width: $md) {
      display: none;
    }
    ul {
      list-style: none;
      padding-top: 10px;

      li {
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s linear;
        margin: 0px 0 10px 30px;
        position: relative;
        top: -10px;

        &:hover {
          transform: translateY(-5px);
        }

        &:first-child {
          top: 3px;
          a:hover {
            &:after {
              display: none;
            }
          }
        }

        a {
          color: white;
          font-size: 1rem;
          font-weight: bold;
          text-decoration: none;
          position: relative;

          // Hover pisemo na ovaj nacin

          &:hover {
            color: #837e7e;

            &:after {
              display: block;
            }
          }

          &:after {
            content: "";
            display: none;
            background-color: #837e7e;
            height: 3px;
            width: 100%;
            position: absolute;
          }
        }
      }
    }
  }
}
