// Fonts
$roboto-font: "Roboto", sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #848484;
$orange: #f97000;

// Breakpoints

$xl: 1199px; // Desktop & other
$lg: 991px; // Laptops
$md: 765px; // Tablets
$sm: 575px; // Mobile
